@model HotelGarage.Core.Dtos.ParkingPlaceDto

<div class="card-body">
    <p class="card-title">@Model.LicensePlate</p>
    <p class="card-text" data-bbox-prijezd="@Model.ArrivalBootbox" data-bbox-odjezd="@Model.DepartureBootbox"
       data-bbox-pokoj="@Model.RoomNumberBootbox" data-bbox-jmeno="@Model.GuestNameBootbox"
       data-bbox-cena="@Model.PricePerNightBootbox" data-bbox-spz="@Model.LicensePlateBootbox"
       data-bbox-typAuta="@Model.CarModelBootbox" data-bbox-zamestnanec="@Model.IsEmployeeBootbox"
       data-bbox-jeRegistrovan="@Model.IsRegisteredBootbox" data-bbox-poznamka="@Model.NoteBootBox">
        @Model.PPlaceName<br>
        @((Model.GuestNameBootbox.Length > 15) ? Model.GuestNameBootbox.Substring(0, 15) : Model.GuestNameBootbox)<br>
        Odj: @Model.Departure
    </p>
    <a href="javascript:void()" class="js-sOPChange">@Model.StateOfPlace</a>
    <nav class="nav sOPActionLink js-sOPActionLink" id=@Model.Id>
        @Html.ActionLink("Reserve", "Create", "Reservations",
            new { pPlaceId = Model.Id },
            new { @class = "nav-link js-reserve" })

        @Html.ActionLink("Check In", "CheckIn", "Parking",
            new {  pPlaceId = Model.Id, reservationId = Model.ReservationId },
            new { @class = "nav-link js-checkin", @onclick = "return confirm('Opravdu chcete rezervaci ubytovat?')" })

        @Html.ActionLink("Upravit", "Update", "Reservations",
            new { resId = Model.ReservationId},
            new { @class = "nav-link js-upravit" })

        <a href="javascript:void()" class="nav-link js-checkout">Check Out</a>
    </nav>
</div>