@model HotelGarage.Dtos.ParkingPlaceDto

<div class="card-body">
    <h5 class="card-title">@Model.LicensePlate</h5>
    <p class="card-text">
        @Model.PPlaceName<br>
        odj: @Model.Departure
    </p>
    <a href="javascript:void()" class="js-sOPChange">@Model.StateOfPlace</a>
    <nav class="nav sOPActionLink js-sOPActionLink" id=@Model.Id>
        @Html.ActionLink("Reserve",
            "Create",
            "Reservations",
            new { pPlaceId = Model.Id },
            new { @class = "nav-link js-reserve" })

        @Html.ActionLink("Check In",
            "CheckIn",
            "Parking",
            new
            {  pPlaceId = Model.Id,
               reservationId = Model.ReservationId },
            new { @class = "nav-link js-checkin" })

        @Html.ActionLink("Upravit",
            "Update",
            "Reservations",
            new { resId = Model.ReservationId},
            new { @class = "nav-link js-upravit" })

        @Html.ActionLink("Check Out",
            "CheckOut",
            "Parking",
            new { pPlaceId = Model.Id,
                reservationId = Model.ReservationId },
            new { @class = "nav-link js-checkout" })
    </nav>
</div>