@model HotelGarage.Core.Dtos.ParkingPlaceDto

<div class="card-body">
    <p class="card-title">@Model.LicensePlate</p>
    <p class="card-text" data-bbox-prijezd="@Model.BootBoxData.Arrival" data-bbox-odjezd="@Model.BootBoxData.Departure"
       data-bbox-pokoj="@Model.BootBoxData.RoomNumber" data-bbox-jmeno="@Model.BootBoxData.GuestName"
       data-bbox-cena="@Model.BootBoxData.PricePerNight" data-bbox-spz="@Model.BootBoxData.LicensePlate"
       data-bbox-typAuta="@Model.BootBoxData.CarModel" data-bbox-zamestnanec="@Model.BootBoxData.IsEmployee"
       data-bbox-jeRegistrovan="@Model.BootBoxData.IsRegistered" data-bbox-poznamka="@Model.BootBoxData.Note">
        @Model.ParkingPlaceName<br>
        @((Model.BootBoxData.GuestName.Length > 15) ? Model.BootBoxData.GuestName.Substring(0, 15) : Model.BootBoxData.GuestName)<br>
        Odj: @Model.Departure
    </p>
    <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceState</a>
    <nav class="nav sOPActionLink js-sOPActionLink" id=@Model.Id>
        @Html.ActionLink("Reserve", "Create", "Reservations",
            new { parkingPlaceId = Model.Id },
            new { @class = "nav-link js-reserve" })

        @Html.ActionLink("Check In", "CheckIn", "Parking",
            new {  parkingPlaceId = Model.Id, reservationId = Model.ReservationId },
            new { @class = "nav-link js-checkin", @onclick = "return confirm('Opravdu chcete rezervaci ubytovat?')" })

        @Html.ActionLink("Upravit", "Update", "Reservations",
            new { reservationId = Model.ReservationId},
            new { @class = "nav-link js-upravit" })

        <a href="javascript:void()" class="nav-link js-checkout">Check Out</a>
    </nav>
</div>