@model IEnumerable<HotelGarage.Models.ParkingPlace>

@{
    ViewBag.Title = "Náhled garáže";
}

<h2>Parkovací Místa</h2>
<br />
<div class="container">
    <div class="row">
        <div class="col-sm">
            One of three columns
        </div>
        <div class="col-sm">
            One of three columns
        </div>
        <div class="col-sm">
            One of three columns
        </div>
    </div>
</div>


    @foreach (var parkingPlace in Model)
    {
        var pplaceId = parkingPlace.Id;

        <div>parkPlace @parkingPlace.Name - @parkingPlace.StateOfPlace.Name</div>

        if (parkingPlace.Reservation == null)
        {
        <div>neobsazeno</div>
        }
        else
        {
        <div>res @parkingPlace.Reservation.LicensePlate</div>
        <div>car @parkingPlace.Reservation.Car.LicensePlate</div>
        }

        <div class="btn-group" style="margin-bottom:30px">
            @Html.ActionLink("Assign Res",
            "CheckIn",
            "Reservations",
            new { parkplace = pplaceId },
            new { type = "submit" , @class = "btn btn-primary btn-sm"})

            @Html.ActionLink("Check In",
            "CheckIn",
            "Reservations",
            new { parkplace = pplaceId },
            new { @class = "btn btn-primary btn-sm", type = "submit", style = "margin-left:10px" })
        </div>
        <br />
    }

@Html.ActionLink("Nová Rezervace",
    "Create",
    "Reservations",
    new { Reservations = Model },
    new { @class = "btn btn-primary", type = "submit" })
