@model IEnumerable<HotelGarage.Models.ParkingPlace>

@{
    ViewBag.Title = "Náhled garáže";
}

<h2>Parkovací Místa</h2>
<br />
@foreach (var parkingPlace in Model)
{
    var pplaceId = parkingPlace.Id;

    <li>parkPlace @parkingPlace.Name - @parkingPlace.StateOfPlace.Name</li>

    if (parkingPlace.Reservation == null)
    {
        <li>neobsazeno</li>
    }
    else
    {
        <li>res @parkingPlace.Reservation.LicensePlate</li>
        <li>car @parkingPlace.Reservation.Car.LicensePlate</li>
    }

    <li>@Html.ActionLink("Check In",
    "CheckIn",
    "Reservations",
    new { parkplace = pplaceId },
    new { @class = "btn btn-primary", type = "submit" })
    </li>
    <br />
}
@Html.ActionLink("Nová Rezervace",
    "Create",
    "Reservations",
    new { Reservations = Model },
    new { @class = "btn btn-primary", type = "submit" })