@model HotelGarage.ViewModels.ParkingViewModel

@{
    ViewBag.Title = "Náhled parkování";
}

<h2>Venkovní Parkoviště</h2>
<br />


<div class="container">

    <div class="row">
        <div class="card">
            @Html.Partial("_ParkingPlace",Model.ParkingPlaceDtos[12])
        </div>
        <div class="card">
            @Html.Partial("_ParkingPlace", Model.ParkingPlaceDtos[13])
        </div>
        <div class="card">
            @Html.Partial("_ParkingPlace", Model.ParkingPlaceDtos[14])
        </div>
        <div class="card">
            @Html.Partial("_ParkingPlace", Model.ParkingPlaceDtos[15])
        </div>
    </div>
    <div class="row">
        <div class="card">
             @Html.Partial("_ParkingPlace", Model.ParkingPlaceDtos[19])
        </div>
        <div class="card">
            @Html.Partial("_ParkingPlace", Model.ParkingPlaceDtos[21])
        </div>
        <div class="card">
            @Html.Partial("_ParkingPlace", Model.ParkingPlaceDtos[22])
        </div>
        <div class="card">
            @Html.Partial("_ParkingPlace", Model.ParkingPlaceDtos[24])
        </div>
        <div class="card">
            @Html.Partial("_ParkingPlace", Model.ParkingPlaceDtos[16])
        </div>
    </div>
    <div class="row">
        <div class="parkovaciMistoPrazdne">
        </div>
        <div class="parkovaciMistoPrazdne">
        </div>
        <div class="card">
            @Html.Partial("_ParkingPlace", Model.ParkingPlaceDtos[23])
        </div>
        <div class="card">
            @Html.Partial("_ParkingPlace", Model.ParkingPlaceDtos[25])
        </div>
        <div class="card">
            @Html.Partial("_ParkingPlace", Model.ParkingPlaceDtos[17])
        </div>
    </div>
    <div class="row">
        <div class="parkovaciMistoPrazdne">
        </div>
        <div class="parkovaciMistoPrazdne">
        </div>
        <div class="parkovaciMistoPrazdne">
        </div>
        <div class="card">
            @Html.Partial("_ParkingPlace", Model.ParkingPlaceDtos[26])
        </div>
        <div class="card">
            @Html.Partial("_ParkingPlace", Model.ParkingPlaceDtos[18])
        </div>
    </div>
    <div class="row">
        <div class="card">
            @Html.Partial("_ParkingPlace", Model.ParkingPlaceDtos[20])
        </div>
        <div class="parkovaciMistoPrazdne">
        </div>
        <div class="parkovaciMistoPrazdne">
        </div>
        <div class="card">
            @Html.Partial("_ParkingPlace", Model.ParkingPlaceDtos[27])
        </div>
    </div>

</div>
<br /><br /><br />

<div class="container">
    <div class="row">
        <div class="col-auto">
            <h2>Garáž</h2>
            <br />
            <div class="row">
                <div class="card">
                    @Html.Partial("_ParkingPlace", Model.ParkingPlaceDtos[11])
                </div>
                <div class="parkovaciMistoPrazdne">
                </div>
                <div class="parkovaciMistoPrazdne">
                </div>
            </div>
            <div class="row">
                <div class="card">
                    @Html.Partial("_ParkingPlace", Model.ParkingPlaceDtos[10])
                </div>
            </div>
            <div class="row">
                <div class="card">
                    @Html.Partial("_ParkingPlace", Model.ParkingPlaceDtos[9])
                </div>
                <div class="parkovaciMistoPrazdne">
                </div>
                <div class="card">
                    @Html.Partial("_ParkingPlace", Model.ParkingPlaceDtos[0])
                </div>
            </div>
            <div class="row">
                <div class="card">
                    @Html.Partial("_ParkingPlace", Model.ParkingPlaceDtos[8])
                </div>
                <div class="parkovaciMistoPrazdne">
                </div>
                <div class="card">
                    @Html.Partial("_ParkingPlace", Model.ParkingPlaceDtos[1])
                </div>
            </div>
            <div class="row">
                <div class="card">
                    @Html.Partial("_ParkingPlace", Model.ParkingPlaceDtos[7])
                </div>
                <div class="parkovaciMistoPrazdne">
                </div>
                <div class="card">
                    @Html.Partial("_ParkingPlace", Model.ParkingPlaceDtos[2])
                </div>
            </div>
            <div class="row">
                <div class="card">
                    @Html.Partial("_ParkingPlace", Model.ParkingPlaceDtos[6])
                </div>
                <div class="parkovaciMistoPrazdne">
                </div>
                <div class="card">
                    @Html.Partial("_ParkingPlace", Model.ParkingPlaceDtos[3])
                </div>
            </div>
            <div class="row">
                <div class="card">
                    @Html.Partial("_ParkingPlace", Model.ParkingPlaceDtos[5])
                </div>
                <div class="parkovaciMistoPrazdne">
                </div>
                <div class="card">
                    @Html.Partial("_ParkingPlace", Model.ParkingPlaceDtos[4])
                </div>
            </div>
        </div>
        <div class="col-auto">
            @if (Model.NoShowReservations.Count != 0)
            {
            <h2>No Show rezervace</h2>
            <br />
            <div>
                @foreach (var reservation in Model.NoShowReservations)
                {
                    <div class="row alert alert-danger">
                        <div class="alert-prijezd">
                            SPZ: @reservation.CarLicensePlate<br />
                            <div class="js-pPlacePrijezd">Místo: @reservation.ParkingPlaceName<br /></div>
                            Host: @reservation.CarGuestsName<br />
                            Příjezd: @reservation.Arrival
                        </div>
                        <div>
                            <div class="input-group justify-content-center">
                                    @Html.DropDownListFor(r => r.ParkingPlaceName,
                             new SelectList(Model.FreeParkingPlaces),
                             new
                             {
                                 @class = "custom-select disabled",
                                 @id = "inputGroupSelect04",
                                 value = reservation.ParkingPlaceId,
                                 disabled = "disabled"
                             })
                                    <div class="input-group-append">
                                        <button id="select-link" data-id='@reservation.Id'
                                                class="btn btn-warning select-link" type="submit" disabled="disabled">
                                            Přiřadit Místo
                                        </button>
                                    </div>
                                </div>
                            <div class="row justify-content-center">
                                <div>
                                    @Html.ActionLink("Upravit",
                         "Update",
                         "Reservations",
                         new { resId = reservation.Id },
                         new { @class = "nav-link odkaz-prijezd" })
                                </div>
                                <div class="nav-link">|</div>
                                <div style="text-align:center">
                                    @Html.ActionLink("Smazat",
                             "Delete",
                             "Reservations",
                             new { resId = reservation.Id },
                             new { @class = "nav-link odkaz-prijezd" })
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <br />}
            <h2>Rezervace na dnešek</h2>
            <br />
            <div>
                @{int i = 0;}
                @foreach (var reservation in Model.TodaysReservations)
                {
                    <div class="row alert alert-warning">
                        <div class="alert-prijezd">
                            SPZ: @reservation.CarLicensePlate<br />
                            <div class="js-pPlacePrijezd">Místo: @reservation.ParkingPlaceName<br /></div>
                            Host: @reservation.CarGuestsName<br />
                            Příjezd: @reservation.Arrival
                        </div>
                        <div>
                            <div class="input-group justify-content-center">
                                @Html.DropDownListFor(r => r.ParkingPlaceName,
                                    new SelectList(Model.FreeParkingPlaces),
                                    new {@class= "custom-select", @id="inputGroupSelect04",
                                        value = reservation.ParkingPlaceId, value_id=i })
                                <div class="input-group-append">
                                    <button id="select-link" data-id='@reservation.Id'
                                            class="btn btn-warning select-link" type="submit" value-id='@i'>
                                        Přiřadit Místo
                                    </button>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div>
                                    @Html.ActionLink("Upravit",
                                    "Update",
                                    "Reservations",
                                    new { resId = reservation.Id},
                                    new { @class = "nav-link odkaz-prijezd" })
                                </div>
                                <div class="nav-link">|</div>
                                <div style="text-align:center">
                                    @Html.ActionLink("Smazat",
                                        "Delete",
                                        "Reservations",
                                        new { resId = reservation.Id},
                                            // kontrola zda nejde o docasne vyjetou rezervaci
                                            (reservation.StateOfReservationId == 5)?
                                                new { @class = "nav-link odkaz-prijezd disabled", @onclick = "javascript:return false;" } :
                                                (object)new { @class = "nav-link odkaz-prijezd" })
                                </div>
                                <div class="nav-link">|</div>
                                <div style="text-align:center">
                                    @Html.ActionLink("Check In",
                                        "CheckIn",
                                        "Parking",
                                        new { pPlaceId = reservation.ParkingPlaceId,
                                            reservationId = reservation.Id},(reservation.ParkingPlaceName == "Nepřiřazeno")?
                                                new { @class = "nav-link odkaz-prijezd disabled",  @onclick = "javascript:return false;" } 
                                                : (object)new { @class = "nav-link odkaz-prijezd" })
                                </div>
                            </div>
                        </div>
                    </div>
                    i++;
                }
            </div>
        </div>
    </div>
</div>
