@model HotelGarage.ViewModels.ParkingViewModel

@{
    ViewBag.Title = "Náhled garáže";
}

<h2>Venkovní Parkoviště</h2>
<br />


<div class="container">

    <div class="row">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.ParkingPlaceDtos[12].LicensePlate</h5>
                <p class="card-text">
                    @Model.ParkingPlaceDtos[12].Name<br>
                    @Model.ParkingPlaceDtos[12].Departure
                </p>
                <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[12].StateOfPlace</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.ParkingPlaceDtos[13].LicensePlate</h5>
                <p class="card-text">
                    @Model.ParkingPlaceDtos[13].Name<br>
                    @Model.ParkingPlaceDtos[13].Departure
                </p>
                <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[13].StateOfPlace</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.ParkingPlaceDtos[14].LicensePlate</h5>
                <p class="card-text">
                    @Model.ParkingPlaceDtos[14].Name<br>
                    @Model.ParkingPlaceDtos[14].Departure
                </p>
                <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[14].StateOfPlace</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.ParkingPlaceDtos[15].LicensePlate</h5>
                <p class="card-text">
                    @Model.ParkingPlaceDtos[15].Name<br>
                    @Model.ParkingPlaceDtos[15].Departure
                </p>
                <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[15].StateOfPlace</a>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.ParkingPlaceDtos[19].LicensePlate</h5>
                <p class="card-text">
                    @Model.ParkingPlaceDtos[19].Name<br>
                    @Model.ParkingPlaceDtos[19].Departure
                </p>
                <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[19].StateOfPlace</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.ParkingPlaceDtos[21].LicensePlate</h5>
                <p class="card-text">
                    @Model.ParkingPlaceDtos[21].Name<br>
                    @Model.ParkingPlaceDtos[21].Departure
                </p>
                <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[21].StateOfPlace</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.ParkingPlaceDtos[22].LicensePlate</h5>
                <p class="card-text">
                    @Model.ParkingPlaceDtos[22].Name<br>
                    @Model.ParkingPlaceDtos[22].Departure
                </p>
                <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[22].StateOfPlace</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.ParkingPlaceDtos[24].LicensePlate</h5>
                <p class="card-text">
                    @Model.ParkingPlaceDtos[24].Name<br>
                    @Model.ParkingPlaceDtos[24].Departure
                </p>
                <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[24].StateOfPlace</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.ParkingPlaceDtos[16].LicensePlate</h5>
                <p class="card-text">
                    @Model.ParkingPlaceDtos[16].Name<br>
                    @Model.ParkingPlaceDtos[16].Departure
                </p>
                <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[16].StateOfPlace</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="parkovaciMistoPrazdne">
        </div>
        <div class="parkovaciMistoPrazdne">
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.ParkingPlaceDtos[23].LicensePlate</h5>
                <p class="card-text">
                    @Model.ParkingPlaceDtos[23].Name<br>
                    @Model.ParkingPlaceDtos[23].Departure
                </p>
                <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[23].StateOfPlace</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.ParkingPlaceDtos[25].LicensePlate</h5>
                <p class="card-text">
                    @Model.ParkingPlaceDtos[25].Name<br>
                    @Model.ParkingPlaceDtos[25].Departure
                </p>
                <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[25].StateOfPlace</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.ParkingPlaceDtos[17].LicensePlate</h5>
                <p class="card-text">
                    @Model.ParkingPlaceDtos[17].Name<br>
                    @Model.ParkingPlaceDtos[17].Departure
                </p>
                <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[17].StateOfPlace</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="parkovaciMistoPrazdne">
        </div>
        <div class="parkovaciMistoPrazdne">
        </div>
        <div class="parkovaciMistoPrazdne">
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.ParkingPlaceDtos[26].LicensePlate</h5>
                <p class="card-text">
                    @Model.ParkingPlaceDtos[26].Name<br>
                    @Model.ParkingPlaceDtos[26].Departure
                </p>
                <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[26].StateOfPlace</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.ParkingPlaceDtos[18].LicensePlate</h5>
                <p class="card-text">
                    @Model.ParkingPlaceDtos[18].Name<br>
                    @Model.ParkingPlaceDtos[18].Departure
                </p>
                <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[18].StateOfPlace</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.ParkingPlaceDtos[20].LicensePlate</h5>
                <p class="card-text">
                    @Model.ParkingPlaceDtos[20].Name<br>
                    @Model.ParkingPlaceDtos[20].Departure
                </p>
                <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[20].StateOfPlace</a>
            </div>
        </div>
        <div class="parkovaciMistoPrazdne">
        </div>
        <div class="parkovaciMistoPrazdne">
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.ParkingPlaceDtos[27].LicensePlate</h5>
                <p class="card-text">
                    @Model.ParkingPlaceDtos[27].Name<br>
                    @Model.ParkingPlaceDtos[27].Departure
                </p>
                <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[27].StateOfPlace</a>
            </div>
        </div>
    </div>

</div>
<br /><br />

<h2>Garáž</h2>
<br />
<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-body">

                <h5 class="card-title">@Model.ParkingPlaceDtos[11].LicensePlate</h5>
                <p class="card-text">
                    @Model.ParkingPlaceDtos[11].Name<br>
                    @Model.ParkingPlaceDtos[11].Departure
                </p>
                <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[11].StateOfPlace</a>
            </div>
        </div>
        <div class="parkovaciMistoPrazdne">
        </div>
        <div class="parkovaciMistoPrazdne">
        </div>
        <div>
            @foreach (var reservation in Model.TodaysReservations)
            {      
                @reservation.LicensePlate;<br />}
        </div>
    </div>
    

    <div class="row">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.ParkingPlaceDtos[10].LicensePlate</h5>
                <p class="card-text">
                    @Model.ParkingPlaceDtos[10].Name<br>
                    @Model.ParkingPlaceDtos[10].Departure
                </p>
                <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[10].StateOfPlace</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.ParkingPlaceDtos[9].LicensePlate</h5>
                <p class="card-text">
                    @Model.ParkingPlaceDtos[9].Name<br>
                    @Model.ParkingPlaceDtos[9].Departure
                </p>
                <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[9].StateOfPlace</a>
            </div>
        </div>
        <div class="parkovaciMistoPrazdne">
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.ParkingPlaceDtos[0].LicensePlate</h5>
                <p class="card-text">
                    @Model.ParkingPlaceDtos[0].Name<br>
                    @Model.ParkingPlaceDtos[0].Departure
                </p>
                <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[0].StateOfPlace</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.ParkingPlaceDtos[8].LicensePlate</h5>
                <p class="card-text">
                    @Model.ParkingPlaceDtos[8].Name<br>
                    @Model.ParkingPlaceDtos[8].Departure
                </p>
                <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[8].StateOfPlace</a>
            </div>
        </div>
        <div class="parkovaciMistoPrazdne">
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.ParkingPlaceDtos[1].LicensePlate</h5>
                <p class="card-text">
                    @Model.ParkingPlaceDtos[1].Name<br>
                    @Model.ParkingPlaceDtos[1].Departure
                </p>
                <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[1].StateOfPlace</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.ParkingPlaceDtos[7].LicensePlate</h5>
                <p class="card-text">
                    @Model.ParkingPlaceDtos[7].Name<br>
                    @Model.ParkingPlaceDtos[7].Departure
                </p>
                <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[7].StateOfPlace</a>
            </div>
        </div>
        <div class="parkovaciMistoPrazdne">
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.ParkingPlaceDtos[2].LicensePlate</h5>
                <p class="card-text">
                    @Model.ParkingPlaceDtos[2].Name<br>
                    @Model.ParkingPlaceDtos[2].Departure
                </p>
                <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[2].StateOfPlace</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.ParkingPlaceDtos[6].LicensePlate</h5>
                <p class="card-text">
                    @Model.ParkingPlaceDtos[6].Name<br>
                    @Model.ParkingPlaceDtos[6].Departure
                </p>
                <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[6].StateOfPlace</a>
            </div>
        </div>
        <div class="parkovaciMistoPrazdne">
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.ParkingPlaceDtos[3].LicensePlate</h5>
                <p class="card-text">
                    @Model.ParkingPlaceDtos[3].Name<br>
                    @Model.ParkingPlaceDtos[3].Departure
                </p>
                <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[3].StateOfPlace</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.ParkingPlaceDtos[5].LicensePlate</h5>
                <p class="card-text">
                    @Model.ParkingPlaceDtos[5].Name<br>
                    @Model.ParkingPlaceDtos[5].Departure
                </p>
                <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[5].StateOfPlace</a>
            </div>
        </div>
        <div class="parkovaciMistoPrazdne">
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.ParkingPlaceDtos[4].LicensePlate</h5>
                <p class="card-text">
                    @Model.ParkingPlaceDtos[4].Name<br>
                    @Model.ParkingPlaceDtos[4].Departure
                </p>
                <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[4].StateOfPlace</a>
            </div>
        </div>
    </div>
</div>

@Html.ActionLink("Check In",
"CheckIn",
"Parking",
new { pPlaceId = 14, reservationId = 18},
new { @class = "btn btn-primary" })
<br />


@Html.ActionLink("Nová Rezervace",
    "Create",
    "Reservations",
    new { Reservations = Model },
    new { @class = "btn btn-primary"})
