@model HotelGarage.ViewModels.ParkingViewModel

@{
    ViewBag.Title = "Náhled garáže";
}

<h2>Venkovní Parkoviště</h2>
<br />


<div class="container">

    <div class="row">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.ParkingPlaceDtos[12].LicensePlate</h5>
                <p class="card-text">
                    @Model.ParkingPlaceDtos[12].PPlaceName<br>
                    @Model.ParkingPlaceDtos[12].Departure
                </p>
                <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[12].StateOfPlace</a>
                <nav class="nav sOPActionLink js-sOPActionLink" id=@Model.ParkingPlaceDtos[12].Id>
                    <a href="javascript:void()" class="nav-link js-sOPChange">Reserve</a>

                    @Html.ActionLink("Check In",
                        "CheckIn",
                        "Parking",
                        new { pPlaceId = Model.ParkingPlaceDtos[12].Id,
                            reservationId = Model.ParkingPlaceDtos[12].ReservationId },
                        new { @class = "nav-link" })
                </nav>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.ParkingPlaceDtos[13].LicensePlate</h5>
                <p class="card-text">
                    @Model.ParkingPlaceDtos[13].PPlaceName<br>
                    @Model.ParkingPlaceDtos[13].Departure
                </p>
                <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[13].StateOfPlace</a>
                <nav class="nav sOPActionLink js-sOPActionLink" id=@Model.ParkingPlaceDtos[13].Id>
                    <a class="nav-link" href="#">Check In</a>
                    <a class="nav-link disabled" href="#">Upravit</a>
                </nav>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.ParkingPlaceDtos[14].LicensePlate</h5>
                <p class="card-text">
                    @Model.ParkingPlaceDtos[14].PPlaceName<br>
                    @Model.ParkingPlaceDtos[14].Departure
                </p>
                <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[14].StateOfPlace</a>
                <nav class="nav sOPActionLink js-sOPActionLink" id=@Model.ParkingPlaceDtos[14].Id>
                    <a class="nav-link" href="#">Upravit</a>
                    <a class="nav-link disabled" href="#">Check Out</a>
                </nav>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.ParkingPlaceDtos[15].LicensePlate</h5>
                <p class="card-text">
                    @Model.ParkingPlaceDtos[15].PPlaceName<br>
                    @Model.ParkingPlaceDtos[15].Departure
                </p>
                <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[15].StateOfPlace</a>
                <nav class="nav sOPActionLink js-sOPActionLink" id=@Model.ParkingPlaceDtos[15].Id>
                    <a class="nav-link" href="#">Upravit</a>
                    <a class="nav-link disabled" href="#">Check Out</a>
                </nav>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.ParkingPlaceDtos[19].LicensePlate</h5>
                <p class="card-text">
                    @Model.ParkingPlaceDtos[19].PPlaceName<br>
                    @Model.ParkingPlaceDtos[19].Departure
                </p>
                <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[19].StateOfPlace</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.ParkingPlaceDtos[21].LicensePlate</h5>
                <p class="card-text">
                    @Model.ParkingPlaceDtos[21].PPlaceName<br>
                    @Model.ParkingPlaceDtos[21].Departure
                </p>
                <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[21].StateOfPlace</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.ParkingPlaceDtos[22].LicensePlate</h5>
                <p class="card-text">
                    @Model.ParkingPlaceDtos[22].PPlaceName<br>
                    @Model.ParkingPlaceDtos[22].Departure
                </p>
                <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[22].StateOfPlace</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.ParkingPlaceDtos[24].LicensePlate</h5>
                <p class="card-text">
                    @Model.ParkingPlaceDtos[24].PPlaceName<br>
                    @Model.ParkingPlaceDtos[24].Departure
                </p>
                <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[24].StateOfPlace</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.ParkingPlaceDtos[16].LicensePlate</h5>
                <p class="card-text">
                    @Model.ParkingPlaceDtos[16].PPlaceName<br>
                    @Model.ParkingPlaceDtos[16].Departure
                </p>
                <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[16].StateOfPlace</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="parkovaciMistoPrazdne">
        </div>
        <div class="parkovaciMistoPrazdne">
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.ParkingPlaceDtos[23].LicensePlate</h5>
                <p class="card-text">
                    @Model.ParkingPlaceDtos[23].PPlaceName<br>
                    @Model.ParkingPlaceDtos[23].Departure
                </p>
                <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[23].StateOfPlace</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.ParkingPlaceDtos[25].LicensePlate</h5>
                <p class="card-text">
                    @Model.ParkingPlaceDtos[25].PPlaceName<br>
                    @Model.ParkingPlaceDtos[25].Departure
                </p>
                <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[25].StateOfPlace</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.ParkingPlaceDtos[17].LicensePlate</h5>
                <p class="card-text">
                    @Model.ParkingPlaceDtos[17].PPlaceName<br>
                    @Model.ParkingPlaceDtos[17].Departure
                </p>
                <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[17].StateOfPlace</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="parkovaciMistoPrazdne">
        </div>
        <div class="parkovaciMistoPrazdne">
        </div>
        <div class="parkovaciMistoPrazdne">
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.ParkingPlaceDtos[26].LicensePlate</h5>
                <p class="card-text">
                    @Model.ParkingPlaceDtos[26].PPlaceName<br>
                    @Model.ParkingPlaceDtos[26].Departure
                </p>
                <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[26].StateOfPlace</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.ParkingPlaceDtos[18].LicensePlate</h5>
                <p class="card-text">
                    @Model.ParkingPlaceDtos[18].PPlaceName<br>
                    @Model.ParkingPlaceDtos[18].Departure
                </p>
                <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[18].StateOfPlace</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.ParkingPlaceDtos[20].LicensePlate</h5>
                <p class="card-text">
                    @Model.ParkingPlaceDtos[20].PPlaceName<br>
                    @Model.ParkingPlaceDtos[20].Departure
                </p>
                <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[20].StateOfPlace</a>
            </div>
        </div>
        <div class="parkovaciMistoPrazdne">
        </div>
        <div class="parkovaciMistoPrazdne">
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.ParkingPlaceDtos[27].LicensePlate</h5>
                <p class="card-text">
                    @Model.ParkingPlaceDtos[27].PPlaceName<br>
                    @Model.ParkingPlaceDtos[27].Departure
                </p>
                <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[27].StateOfPlace</a>
            </div>
        </div>
    </div>

</div>
<br /><br />

<h2>Garáž</h2>
<br />
<div class="container">
    <div class="row">
        <div class="col-auto">
            <div class="row">
                <div class="card">
                    <div class="card-body">

                        <h5 class="card-title">@Model.ParkingPlaceDtos[11].LicensePlate</h5>
                        <p class="card-text">
                            @Model.ParkingPlaceDtos[11].PPlaceName<br>
                            @Model.ParkingPlaceDtos[11].Departure
                        </p>
                        <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[11].StateOfPlace</a>
                    </div>
                </div>
                <div class="parkovaciMistoPrazdne">
                </div>
                <div class="parkovaciMistoPrazdne">
                </div>

            </div>


            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@Model.ParkingPlaceDtos[10].LicensePlate</h5>
                        <p class="card-text">
                            @Model.ParkingPlaceDtos[10].PPlaceName<br>
                            @Model.ParkingPlaceDtos[10].Departure
                        </p>
                        <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[10].StateOfPlace</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@Model.ParkingPlaceDtos[9].LicensePlate</h5>
                        <p class="card-text">
                            @Model.ParkingPlaceDtos[9].PPlaceName<br>
                            @Model.ParkingPlaceDtos[9].Departure
                        </p>
                        <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[9].StateOfPlace</a>
                    </div>
                </div>
                <div class="parkovaciMistoPrazdne">
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@Model.ParkingPlaceDtos[0].LicensePlate</h5>
                        <p class="card-text">
                            @Model.ParkingPlaceDtos[0].PPlaceName<br>
                            @Model.ParkingPlaceDtos[0].Departure
                        </p>
                        <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[0].StateOfPlace</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@Model.ParkingPlaceDtos[8].LicensePlate</h5>
                        <p class="card-text">
                            @Model.ParkingPlaceDtos[8].PPlaceName<br>
                            @Model.ParkingPlaceDtos[8].Departure
                        </p>
                        <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[8].StateOfPlace</a>
                    </div>
                </div>
                <div class="parkovaciMistoPrazdne">
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@Model.ParkingPlaceDtos[1].LicensePlate</h5>
                        <p class="card-text">
                            @Model.ParkingPlaceDtos[1].PPlaceName<br>
                            @Model.ParkingPlaceDtos[1].Departure
                        </p>
                        <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[1].StateOfPlace</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@Model.ParkingPlaceDtos[7].LicensePlate</h5>
                        <p class="card-text">
                            @Model.ParkingPlaceDtos[7].PPlaceName<br>
                            @Model.ParkingPlaceDtos[7].Departure
                        </p>
                        <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[7].StateOfPlace</a>
                    </div>
                </div>
                <div class="parkovaciMistoPrazdne">
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@Model.ParkingPlaceDtos[2].LicensePlate</h5>
                        <p class="card-text">
                            @Model.ParkingPlaceDtos[2].PPlaceName<br>
                            @Model.ParkingPlaceDtos[2].Departure
                        </p>
                        <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[2].StateOfPlace</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@Model.ParkingPlaceDtos[6].LicensePlate</h5>
                        <p class="card-text">
                            @Model.ParkingPlaceDtos[6].PPlaceName<br>
                            @Model.ParkingPlaceDtos[6].Departure
                        </p>
                        <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[6].StateOfPlace</a>
                    </div>
                </div>
                <div class="parkovaciMistoPrazdne">
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@Model.ParkingPlaceDtos[3].LicensePlate</h5>
                        <p class="card-text">
                            @Model.ParkingPlaceDtos[3].PPlaceName<br>
                            @Model.ParkingPlaceDtos[3].Departure
                        </p>
                        <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[3].StateOfPlace</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@Model.ParkingPlaceDtos[5].LicensePlate</h5>
                        <p class="card-text">
                            @Model.ParkingPlaceDtos[5].PPlaceName<br>
                            @Model.ParkingPlaceDtos[5].Departure
                        </p>
                        <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[5].StateOfPlace</a>
                    </div>
                </div>
                <div class="parkovaciMistoPrazdne">
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@Model.ParkingPlaceDtos[4].LicensePlate</h5>
                        <p class="card-text">
                            @Model.ParkingPlaceDtos[4].PPlaceName<br>
                            @Model.ParkingPlaceDtos[4].Departure
                        </p>
                        <a href="javascript:void()" class="js-sOPChange">@Model.ParkingPlaceDtos[4].StateOfPlace</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-auto">
            <br /><br />
            <h2>Rezervace na dnešek</h2>
            <br />
            <div>
                @{int i = 0;}
                @foreach (var reservation in Model.TodaysReservations)
                {
                    <div class="row">
                        <div class="alert alert-warning " role="alert">
                            SPZ: @reservation.CarLicensePlate;<br />
                            Místo: @reservation.ParkingPlaceName<br />
                            Host: @reservation.CarGuestsName
                        </div>
                        <div class="">
                            <div class="input-group" style="margin-top:10px">
                                @Html.DropDownListFor(r => r.ParkingPlaceName,
                                    new SelectList(Model.FreeParkingPlaces),
                                    new {@class="custom-select", @id="inputGroupSelect04",
                                        value = reservation.ParkingPlaceId, value_id=i })
                                <div class="input-group-append">
                                    <button id="select-link" data-id='@reservation.Id'
                                            class="btn btn-primary select-link" type="submit" value-id='@i'>
                                        Přiřadit Nove
                                    </button>
                                </div>
                            </div>
                            <div>
                                <div style="text-align:center">
                                    @Html.ActionLink("Check In",
                                        "CheckIn",
                                        "Parking",
                                        new { pPlaceId = reservation.ParkingPlaceId,
                                            reservationId = reservation.Id},
                                        new { @class = "nav-link"})
                                </div>
                            </div>
                        </div>
                    </div>
                    i++;
                }
            </div>
    </div>
    </div>
</div>
@Html.ActionLink("Check In",
"CheckIn",
"Parking",
new { pPlaceId = 14, reservationId = 18},
new { @class = "btn btn-primary" })
<br />


@Html.ActionLink("Nová Rezervace",
    "Create",
    "Reservations",
    new { Reservations = Model },
    new { @class = "btn btn-primary"})
