@model HotelGarage.Core.Model.Reservation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>@((Model.Id == 0) ? "New reservation" : "Update reservation")</h4>
@using (Html.BeginForm("Save", "Reservation"))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(r => r.LicensePlate, "License plate")
        @Html.TextBoxFor(r => r.LicensePlate, new { @class = "form-control SPZbox", type="text",autofocus = "autofocus", data_id = "spz-visible", placeholder = "Fill out LP or a name at least", maxlength = 20 })
        @Html.ValidationMessageFor(r => r.LicensePlate)
    </div>
    <div class="form-group">
        @Html.TextBoxFor(r => r.Car.LicensePlate, new { @class = "form-control", data_id = "spz-hidden", style = "display:none;" })
        @Html.TextBoxFor(r => r.ParkingPlaceId, new { @class = "form-control", @Value = Model.ParkingPlaceId, style = "display:none;" })
        @Html.TextBoxFor(r => r.Id, new { @class = "form-control", @Value = Model.Id, style = "display:none;" })
        @Html.TextBoxFor(r => r.State, new { @class = "form-control", @Value = Model.State, style = "display:none;" })
    </div>
    <div class="form-group">
        @Html.LabelFor(r => r.Arrival, "Arrival")
        @Html.TextBoxFor(r => r.Arrival, (Model.State == HotelGarage.Core.Model.ReservationState.Inhouse ||
            Model.State == HotelGarage.Core.Model.ReservationState.TemporaryLeave) ?
            (object)new { @class = "form-control", type = "datetime-local",
                @Value = Model.Arrival.ToString("yyyy-MM-ddTHH:mm"),
                @readonly = "readonly"
            } :
            (object)new { @class = "form-control", type = "datetime-local",
                @Value = Model.Arrival.ToString("yyyy-MM-ddTHH:mm")})
        @Html.ValidationMessageFor(r => r.Arrival)
    </div>
    <div class="form-group">
        @Html.LabelFor(r => r.Departure, "Departure")
        @Html.TextBoxFor(r => r.Departure, new { @class = "form-control", type = "datetime-local",
            @Value = Model.Departure.ToString("yyyy-MM-ddT12:00")})
        @Html.ValidationMessageFor(r => r.Departure)
    </div>
    <div class="form-group form-inline" id="isRegisteredDiv">
        @Html.LabelFor(r => r.IsRegistered, "Is registered?")
        @Html.CheckBoxFor(r => r.IsRegistered, (Model.State == HotelGarage.Core.Model.ReservationState.Inhouse ?
        (object)new { @class = "form-control" }: (object)new { @class = "form-control", @disabled = "disabled" }))
        @Html.ValidationMessageFor(r => r.IsRegistered)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Car.CarModel, "Car brand")
        @Html.TextBoxFor(c => c.Car.CarModel, new { @class = "form-control", maxlength = 50 })
        @Html.ValidationMessageFor(c => c.Car.CarModel)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Car.GuestsName, "Last and first name")
        @Html.TextBoxFor(c => c.Car.GuestsName, new { @class = "form-control", maxlength = 50 })
        @Html.ValidationMessageFor(c => c.Car.GuestsName)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Car.GuestRoomNumber, "Room number")
        @Html.TextBoxFor(c => c.Car.GuestRoomNumber, new { @class = "form-control", maxlength = 3 })
        @Html.ValidationMessageFor(c => c.Car.GuestRoomNumber)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Car.PricePerNight, "Price per night")
        @Html.TextBoxFor(c => c.Car.PricePerNight, new { @class = "form-control", maxlength = 3 })
        @Html.ValidationMessageFor(c => c.Car.PricePerNight)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Car.Note, "Note")
        @Html.TextAreaFor(c => c.Car.Note, new { @class = "form-control", maxlength = 100, Rows = 5, style = "resize:none;" })
        @Html.ValidationMessageFor(c => c.Car.Note)
    </div>
    <div class="form-group form-inline">
        @Html.LabelFor(c => c.Car.IsEmployee, "Is employee?")
        @Html.CheckBoxFor(c => c.Car.IsEmployee, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Car.IsEmployee)
    </div>
    <div class="row">
        <input type="button" value="Cancel changes" class="btn btn-outline-primary mx-3" onclick='location.href="@Url.Action("Parking", "Parking")"'>
        <button type="submit" class="btn btn-primary js-res-save-btn">Save</button>
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            ReservationForm.init();
        });
    </script>
}




