@model IList<HotelGarage.Core.Dto.ReservationListDto>

@{
    ViewBag.Title = "Reservation overview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Reservation overview</h4>
<p>
    Specify one or more words from different columns to further narrow the search.
</p>
<div class="row ml-auto">
    <p>
        Filter by:&nbsp;
    </p>
    <div class="btn-group-sm btn-group-toggle" data-toggle="buttons" id="optionRange">
        <label class="btn btn-outline-secondary active" id="optionArrival">
            <input type="radio" name="optionArrival" autocomplete="off"> Arrival
        </label>
        <label class="btn btn-outline-secondary" id="optionDeparture">
            <input type="radio" name="optionDeparture" autocomplete="off"> Departure
        </label>
        <label class="btn btn-outline-secondary" id="optionStay">
            <input type="radio" name="optionStay" autocomplete="off"> In-house
        </label>
    </div>
    <p>
        &nbsp; From
    </p>
    <label>
        @Html.TextBox("min", DateTime.Now.ToString("yyyy-MM-dd"), new { @class = "form-control form-control-sm", type = "date", id = "min" })
    </label>
    <p>
        &nbsp; To
    </p>
    <label>
        @Html.TextBox("max", DateTime.Now.ToString("yyyy-MM-dd"), new { @class = "form-control form-control-sm", type = "date", id = "max" })
    </label>
    <div class="btn-group-sm">
        &nbsp;
        <button class="btn btn-secondary" id="filterBtn">Filter</button>
    </div>
</div>
<table id="example" class="mdl-data-table" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Arrival</th>
            <th>Departure</th>
            <th>Room</th>
            <th>Total price</th>
            <th>Reservation</th>
            <th>LPN</th>
            <th>Car brand</th>
            <th>Park. place</th>
            <th></th>
            <th>Visits</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var res in Model)
        {
        <tr>
            <td>@res.GuestsName</td>
            <td>@res.Arrival</td>
            <td>@res.Departure</td>
            <td>@res.GuestRoomNumber</td>
            <td>@res.TotalPrice</td>
            <td>@res.ReservationState</td>
            <td>@res.LicensePlate</td>
            <td>@res.CarModel</td>
            <td>@res.ParkingPlaceName</td>
            <td>@res.IsEmployee</td>
            <td>@res.NumberOfStays</td>
            <td>
                @Html.ActionLink("Update", "Update", "Reservation",
                    new { reservationId = res.Id },
                    new { }) /
                @Html.ActionLink("Delete", "Delete", "Reservation",
                    new { reservationId = res.Id },
                    new { })
            </td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Name</th>
            <th>Arrival</th>
            <th>Departure</th>
            <th>Room</th>
            <th>Total price</th>
            <th>Reservation</th>
            <th>LPN</th>
            <th>Car brand</th>
            <th>Park. place</th>
            <th></th>
            <th>Visits</th>
            <th></th>
        </tr>
    </tfoot>
</table>
@section scripts{
    <script>
        $(document).ready(function () {
            ReservationList.init();
        });
    </script>
}

