@model HotelGarage.Models.Reservation
@{
    ViewBag.Title = "Nová rezervace";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nová rezervace</h2>
<br />
@using (Html.BeginForm("Save", "Reservations"))
{
    @Html.AntiForgeryToken();
    <div class="form-group">
        @Html.LabelFor(c => c.LicensePlate, "Státní Poznávací Značka")
        @Html.TextBoxFor(c => c.LicensePlate, new { @class = "form-control SPZbox", autofocus = "autofocus", data_id = "spz-visible" })
        @Html.ValidationMessageFor(c => c.LicensePlate)
    </div>
    <div class="form-group">
        @Html.TextBoxFor(c => c.Car.LicensePlate, new { @class = "form-control", data_id = "spz-hidden", style = "display:none;" })
        @Html.TextBoxFor(c => c.ParkingPlaceId, new { @class = "form-control", @Value = Model.ParkingPlaceId, style = "display:none;" })
        @Html.TextBoxFor(c => c.Id, new { @class = "form-control", @Value = Model.Id, style = "display:none;" })
        @Html.TextBoxFor(c => c.StateOfReservationId, new { @class = "form-control", @Value = Model.StateOfReservationId, style = "display:none;" })
    </div>
    <div class="form-group">
        @Html.LabelFor(r => r.Arrival, "Příjezd")
        @if (Model.StateOfReservationId == 2)
        {
            @Html.TextBoxFor(r => r.Arrival, new { @class = "form-control", type = "datetime-local",
            @Value = DateTime.Now.ToString("yyyy-MM-ddTHH:mm"), @readonly = "readonly" })
            @Html.ValidationMessageFor(r => r.Arrival)
        }
        else
        {
            @Html.TextBoxFor(r => r.Arrival, new { @class = "form-control", type = "datetime-local",
            @Value = DateTime.Now.ToString("yyyy-MM-ddTHH:mm")})
            @Html.ValidationMessageFor(r => r.Arrival)
        }
    </div>
    <div class="form-group">
        @Html.LabelFor(r => r.Departure, "Odjezd")
        @Html.TextBoxFor(r => r.Departure, new { @class = "form-control", type = "datetime-local",
            @Value = DateTime.Now.AddDays(1).ToString("yyyy-MM-ddT12:00")})
        @Html.ValidationMessageFor(r => r.Departure)
    </div>
    <div class="form-group form-inline">
        @Html.LabelFor(r => r.IsRegistered, "Je Registrovaná?")
        @Html.CheckBoxFor(r => r.IsRegistered, new { @class = "form-control" })
        @Html.ValidationMessageFor(r => r.IsRegistered)
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.Car.CarModel, "Typ Auta")
        @Html.TextBoxFor(c => c.Car.CarModel, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Car.CarModel)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Car.GuestsName, "Jméno Hosta")
        @Html.TextBoxFor(c => c.Car.GuestsName, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Car.GuestsName)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Car.GuestRoomNumber, "Číslo Pokoje Hosta")
        @Html.TextBoxFor(c => c.Car.GuestRoomNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Car.GuestRoomNumber)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Car.PricePerNight, "Cena za Noc v EUR")
        @Html.TextBoxFor(c => c.Car.PricePerNight, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Car.PricePerNight)
    </div>
    <div class="form-group form-inline">
        @Html.LabelFor(c => c.Car.IsEmployee, "Zaměstnanec?")
        @Html.CheckBoxFor(c => c.Car.IsEmployee, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Car.IsEmployee)
    </div>
    <button type="submit" class="btn btn-primary">Uložit</button>
}


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

}




